/* Margins */

body {
    background-color: aliceblue;
}

p {
    display: inline-block;
    background-color: brown;
    width: 100px;
}
.p0 {
    width: 100%;
}
.p1 {
    width: 30vw;
}
.p2 {
    width: 20vw;
}
.p3 {
    width: 100%;
}
p.margin {
    display: inline-block;
    width: 25vw;
    background-color: brown;
    height: 50px;
    border: 1px solid burlywood;
    margin: 10px;
    /* margin: 10px 20px; */
    /* margin: 10px 20px 30px; */
    /* margin: 10px 20px 30px 40px; */
}