/* Links */

a:link {
    color: black;
    text-decoration: none;
}
  
/* visited link */
a:visited {
    color: gray;
    text-decoration: none;
}
  
/* mouse over link */
a:hover {
    color: blue;
    text-decoration: underline;
}
  
/* selected link */
a:active {
    color: brown;
    text-decoration: underline;
}

/* link como botón: */

a.boton:link, a.boton:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.boton:hover, a.boton:active {
    background-color: tomato;
    color:black;
}

/* Más estilos de enlaces: */

a.one:link {
	color: #ff0000;
}

a.one:visited {
	color: #0000ff;
}

a.one:hover {
	color: #ffcc00;
}

a.two:link {
	color: #ff0000;
}

a.two:visited {
	color: #0000ff;
}

a.two:hover {
	font-size: 150%;
}

a.three:link {
	color: #ff0000;
}

a.three:visited {
	color: #0000ff;
}

a.three:hover {
	background: #66ff66;
}

a.four:link {
	color: #ff0000;
}

a.four:visited {
	color: #0000ff;
}

a.four:hover {
	font-family: monospace;
}

a.five:link {
	color: #ff0000;
	text-decoration: none;
}

a.five:visited {
	color: #0000ff;
	text-decoration: none;
}

a.five:hover {
	text-decoration: underline;
}

.cursor {
    border: 1px solid brown;
    padding: 2px;
    display: block;
    text-align: center;
    margin: 2px;
}