/* Propiedades CSS */

:root{
  font-size: 16px; /*  */
}
body {
  padding: 1rem; /* por defecto 1em = 16px */
}
h1 {
  font-size: 2rem;
}
h3 {
  margin: 1em auto;
}

/* max-width */

div {
  margin: 0.5em 0;
  padding: 0.5em;
  /* Importante para que no desborde del width o height establecido: */
  box-sizing: border-box;
}
.div-1, .div-2, .div-3 {
  border: 1px solid brown;
}

/* 
  width => max, min
  height => max, min
*/
.div-1{
  max-width: 200px;
  width: 500px; 
}
.div-2 {
  max-width: 100%;
  width: 80%;
}
.div-3 {
  min-width: 200px;
  width: 300px;
  max-height: 200px;
  height: 300px;
}

/* position */

.relative {
  position: relative;
  border: 1px solid black;
}
.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}
.fixed {
  position: fixed;
  width: 20%;
  background-color: yellow;
  bottom: 0;
  right: 0;
}
.sticky {
  position: sticky;
  width: 20%;
  background-color: lightgray;
  bottom: 0;
  left: 0;
}