/* Propiedades CSS */

:root{
  font-size: 16px; /*  */
}
body {
  padding: 1rem; /* por defecto 1em = 16px */
}
h1 {
  font-size: 2rem;
}
h3 {
  margin: 1em auto;
}

/* max-width */

div {
  margin: 0.5em 0;
  padding: 0.5em;
  /* Importante para que no desborde del width o height establecido: */
  box-sizing: border-box;
}
.div-1, .div-2, .div-3 {
  border: 1px solid brown;
}

/* 
  width => max, min
  height => max, min
*/
.div-1{
  max-width: 200px;
  width: 500px; 
}
.div-2 {
  max-width: 100%;
  width: 80%;
}
.div-3 {
  min-width: 200px;
  width: 300px;
  max-height: 200px;
  height: 300px;
}

/* position */

.relative {
  position: relative;
  border: 1px solid black;
}
.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}
.fixed {
  position: fixed;
  width: 20%;
  background-color: yellow;
  bottom: 0;
  right: 0;
}
.sticky {
  position: sticky;
  width: 20%;
  background-color: lightgray;
  bottom: 0;
  left: 0;
}

/* z-index */

#container img {
  z-index: -1;
}

#container h3 {
  display: inline-block;
  position: absolute;
  color:gray;
  text-shadow: 1px 1px 2px white;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
}

#video {
  width:30%;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
}
#video video {
  z-index: -1;
}
#video h2 {
  position: absolute;
  color: white;
  z-index: 0;
}

#video-container {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: -1;
}

#video-container iframe {
  width: 560px;
  height: 315px;
  z-index: -1;
  pointer-events: none;
}

#iframe-overlay {
  display: none;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  width: 560px;
  height: 315px;
  background-color: rgba(0, 0, 0, 0.75); /* Fondo semitransparente */
  pointer-events: none; /* Deshabilitar eventos de clic */
  z-index: 999;
}

/* Overflow */

.overflow{
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid black;
}

/* Float */

.clearfix {
  overflow: auto; 
}

.float-right {
  float: right;  
  width: 25vw;
  min-width: 170px;
  height: auto;
  aspect-ratio: 1900 / 1069;
  background-color: lightblue;
}

* {
  box-sizing: border-box;
}

.box, .box-2 {
  float: left;
  width: 33.33%;
  padding: 1rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.box-2 {
  height: 500px;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.img-container img {
  width: 100%;
  min-height: 250px;
  height: 250px;
}

.img-clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.inline-block-container {
  width: 100%;
  padding: 1rem;
  /* Ignoe los espacios entre etiquetas para que no tengamos que colocarlas todas en la misma línea sin indentación: */
  /* Más info en: https://developer.mozilla.org/es/docs/Web/CSS/white-space */
  white-space: nowrap;
}
.inline-block-container img {
  display: inline-block;
  width:20%;
  height: auto;
}

/* Align */

.align-container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
.align-container img, .align-container-right img {
  display: inline-block;
  width: 20%;
  height: auto;
}
.align-container h3, .align-container p {
  display: inline-block;
  width: 20%;
  text-align: left;
}

.align-container-right {
  width:min-content;
  margin-right:0;
  margin-left: auto;
  border: 1px solid black;
}
.align-container-right img {
  display: inline-block;
  width: 100%;
  height: auto;
}

.align-container-left {
  width:min-content;
  margin-left: 0;
  margin-right: auto;
  border: 1px solid black;
}
.align-container-left img {
  display: inline-block;
  width: 100%;
  height: auto;
}