/* Hoja de estilos global */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e3e3e3;
    margin: 0;
    padding: 1rem;
}

code {
    color: white;
    background-color: #333;
    padding: 2px 5px;
    border-radius: 5px;
}
pre {
    color: white;
    background-color: #333;
}
pre code {
    padding: 0;
}

tr:nth-of-type(even) {
    background-color: lightgray;
}
table {
    display: block;
    margin: 1rem auto;
}
.table-container {
    display: flex;
    justify-content: center;
}
td {
    text-align: center;
    padding: 1rem;
}
