<!DOCTYPE html>
<html>
<head>
    <title>Evaluación de Contraseña</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        /* Tus estilos aquí */
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Evaluación de Contraseña</h1>
        <form action="{% url 'result' %}" method="get">
            <div class="form-group">
                <label for="query">Ingrese una contraseña:</label>
                <input type="text" id="query" name="q" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Evaluar</button>
        </form>
    </div>
</body>
</html>

