/* Estilo para el fondo del contenedor principal */
    .container {
        background-color: #ffffff; /* Fondo blanco por defecto */
        padding: 20px; /* Espaciado interno */
        border-radius: 8px; /* Bordes redondeados */
    }

    /* Estilo para el modo oscuro */
    body.dark-mode .container {
        background-color: #121212; /* Fondo oscuro */
        color: #e0e0e0; /* Texto claro */
    }
        body.dark-mode {
        background-color: #121212; /* Fondo oscuro */
        color: #e0e0e0; /* Texto claro */
    }

    /* Estilo para la tabla */
    .table {
        background-color: #ffffff; /* Fondo blanco para la tabla */
    }

    /* Estilo para el modo oscuro */
    body.dark-mode .table {
        background-color: #1e1e1e; /* Fondo oscuro para la tabla */
        color: #fff;
    }

    /* Estilo para el encabezado de la tabla */
    .table thead {
        background-color: #f8f9fa; /* Fondo claro por defecto */
        color: #0e0e0e;
    }

    /* Estilo para el modo oscuro */
    body.dark-mode .table thead {
        background-color: #333; /* Fondo oscuro para el encabezado de la tabla */
    }

    /* Estilo para los encabezados de la tabla */
    .table thead th {
        color: #0e0e0e; /* Color de texto oscuro por defecto */
    }


    /* Estilo para el modo oscuro */
    body.dark-mode .table thead th {
        color: #ffffff; /* Color blanco para el encabezado en modo oscuro */
    }

    /* Estilo para las filas de la tabla */
    .table tbody tr:nth-of-type(odd) {
        background-color: #f8f9fa; /* Fondo claro para filas impares por defecto */
        color: #0e0e0e;
    }


    /* Estilo para el modo oscuro */
    body.dark-mode .table tbody tr:nth-of-type(odd) {
        background-color: #2c2c2c; /* Fondo oscuro para filas impares en modo oscuro */
        color: #fff;
    }

    /* Estilo para las filas pares de la tabla */
    .table tbody tr:nth-of-type(even) {
        background-color: #ffffff; /* Fondo blanco para filas pares por defecto */
    }

    /* Estilo para el modo oscuro */
    body.dark-mode .table tbody tr:nth-of-type(even) {
        background-color: #1e1e1e; /* Fondo más oscuro para filas pares en modo oscuro */
    }

    /* Estilo para los botones */
    .btn-secondary {
        color: #ffffff;
        background-color: #6c757d; /* Color del botón secundario */
        border-color: #6c757d;
    }

    .btn-secondary:hover {
        color: #ffffff;
        background-color: #5a6268; /* Color más oscuro para hover */
        border-color: #545b62;
    }

    /* Estilo para el modo oscuro */
    body.dark-mode .btn-secondary {
        background-color: #343a40; /* Fondo oscuro para el botón secundario en modo oscuro */
        border-color: #343a40;
        color: #e0e0e0;
    }

    body.dark-mode .btn-secondary:hover {
        background-color: #23272b; /* Color más oscuro para hover en modo oscuro */
        border-color: #1d2124;
    }

    .btn-danger {
        color: #ffffff;
        background-color: #dc3545; /* Color del botón peligro */
        border-color: #dc3545;
    }

    .btn-danger:hover {
        color: #ffffff;
        background-color: #c82333; /* Color más oscuro para hover */
        border-color: #bd2130;
    }

    /* Estilo para el modo oscuro */
    body.dark-mode .btn-danger {
        background-color: #dc3545; /* Fondo del botón peligro en modo oscuro */
        border-color: #dc3545;
        color: #e0e0e0;
    }

    body.dark-mode .btn-danger:hover {
        background-color: #c82333; /* Color más oscuro para hover en modo oscuro */
        border-color: #bd2130;
    }